.layout__wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout__container {
  height: fit-content;
  padding: 1rem;
  background-color: #fff;
  width: 600px;
}

@media (max-width: 540px) {
  .layout__container {
    width: calc(90% - 1rem);
  }
}
