.layout__wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout__container {
  height: fit-content;
  padding: 1rem;
  /*border-radius: 0.5rem;*/
  background-color: #fff;
  /*box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.5);*/
  width: 600px;
}
